Assets/Garment
Assets/LeapMotion
Assets/Robots
Assets/Scene
Data
Env_StandAlone/Z_TestEnv.py
Env_Validation
Env_PicGeneration
Model_HALO/SADP
Model_HALO/SADP_G
IL_Baselines
Tool_Scripts
test.py
Texture_Generate.sh
Validation.sh
pipeline.sh
visualize_affodance.py
visualize_corresponce.py
**/__pycache__/